*.iml
*.ipr
*.iws
.idea
.settings
.project
.classpath
/target
*/target
.DS_Store
/.vagrant
parsers/cprparser/target
sorrelationimporter/src/main/java/generated-sources
release.properties
pom.xml.releaseBackup
*~
sdm4-*